.content-scroller { margin-left: 230px; }

.bg { background: url(../../images/blog/01.jpg); background-attachment: fixed; background-clip: initial; background-color: rgba(0, 0, 0, 0); background-origin: initial; background-position: center center; background-repeat: no-repeat; background-size: cover !important; position: relative; z-index: 0; }
.page-header { padding: 50px 10px; margin: 0px; width: 100%; position: relative; }
.gradient-01:before { background: rgba(0, 0, 0, 0.8); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #131b51), color-stop(100%, #e8d4e6)); background: -webkit-linear-gradient(-315deg, #131b51 0%, #e8d4e6 100%); background: -webkit-linear-gradient(45deg, #131b51 0%, #e8d4e6 100%); background: linear-gradient(45deg, #131b51 0%, #e8d4e6 100%);  opacity: 0.7; content:""; height:100%; left:0; position:absolute; top:0; width:100%; z-index: 0; }
.page-header.bg.gradient-01:before { z-index: -1; }
.page-header .top-bar { border-bottom: 1px solid rgba(255, 255, 255, 0.2); width: 100%; padding: 0 30px 30px 30px}
.page-header .top-bar .back-home { display: block; margin-top: 10px; float: left !important}
.page-header .top-bar .back-home a { background: rgba(255, 255, 255, 0.2); color: #fff; font-size: 14px; padding: 10px 20px; border-radius: 3px; }
.page-header .top-bar .back-home a:hover { color: #2f3742; text-decoration: none}
.page-header .top-bar .back-home a span { padding-right: 8px; }
.page-header .breadcrumb { background: rgba(255, 255, 255, 0.2); padding: 10px 20px; border-radius: 3px; float: right !important}
.page-header .breadcrumb li a { color: #ffffff;  }
.page-header .breadcrumb li a span { padding-right: 8px; }
.page-header .breadcrumb li a:hover { color: #2f3742; text-decoration: none}
.page-header .breadcrumb li { color: #ffffff; font-size: 14px; font-weight: 600; }
.page-header .breadcrumb>li+li:before { color: #fff; }
.page-header-title { padding: 80px 40px; }
.page-header-title h1 { color: #ffffff; margin-top: 0px; text-transform: capitalize; margin-bottom: 10px; }
.page-header-title span { color: #ffffff; margin-top: 0px; }
