.white-bg { background: #ffffff; }
.page-section { padding: 60px 0px; margin-left: 230px; }

.blog.blog-page .blog-block { margin-bottom: 50px; }
.pagination { margin-bottom: 25px;  }
.pagination>li>a, .pagination>li>span { margin-left: 5px; padding: 8px 15px; background-color:#F8F9FA; border: none; border-radius: 3px; color: #9ea8b6; }
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover { background-color: #07cb79; }
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover { background: #07cb79; color: #ffffff; }
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover { background: #f8f9fa; }
.blog ::-webkit-input-placeholder { color: #9ea8b6; }
.blog :-moz-placeholder { color: #9ea8b6; }
.blog .contact-form input { color: #9ea8b6; }
.blog .contact-form textarea { color: #9ea8b6; }