.intro-bg {background-size: cover !important; background: url("../images/background.jpg") no-repeat; position: relative; height: 100%; width: 100vw-230px; margin-left: 230px;}
.gradient-01:before { background: rgba(0, 0, 0, 0.8); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #131b51), color-stop(100%, #e8d4e6)); background: -webkit-linear-gradient(-315deg, #131b51 0%, #e8d4e6 100%); background: -webkit-linear-gradient(45deg, #131b51 0%, #e8d4e6 100%); background: linear-gradient(45deg, #131b51 0%, #e8d4e6 100%);  opacity: 0.6; content:""; height:100%; left:0; position:absolute; top: 0; width:100%; z-index: 0; }
.intro-container {display: flex; flex-wrap: wrap; flex-direction: column; justify-content: center; align-items: flex-start; min-height: 100vh;}
.name-container {display: flex; flex-wrap: wrap; flex-direction: column; align-items: center; justify-content: center; margin-left: 10%; z-index: 300}
.hello {display: flex; flex-wrap: wrap; flex-direction: column; align-items: flex-start;}
.hello h1 {font-size: 72px; color: #ffffff; text-transform: uppercase; font-weight: 600; font-family: 'Raleway', sans-serif; margin-bottom: 15px}
.hello h1 span {font-size: 30px; display: block; font-family: 'Raleway', sans-serif; font-weight: 500;}
.designation { height: 60px; }
.designation span {font-size: 28px; color: #ffffff; text-transform: uppercase; font-family: 'Raleway', sans-serif;}
.typer { height: 40px; margin-bottom: 5%}
.typer h2 { font-size: 28px; color: #ffffff; text-transform: uppercase; font-family: 'Raleway', sans-serif; }
.intro-button a {padding: 10px 30px; font-size: 18px; border-radius: 3px; background: #07cb79; color: #ffffff; text-transform: uppercase; font-family: 'Raleway', sans-serif; text-decoration: none}
.intro-button a:hover { background: #2f3742; text-decoration: none; color: #ffffff}
.scroll-down { text-align: center; width: 34px; height: 58px; display: inline-block; border-radius: 20px; border:3px solid #fff; position: absolute; left: 50%; bottom: 60px;
margin-left: -17px; line-height: 50px; }
.scroll-down i { height: 10px;  width: 4px; background: #fff; display: inline-block; border-radius: 3px; -webkit-animation-name:fadebounce;  -moz-animation-name:fadebounce; -ms-animation-name:fadebounce; -o-animation-name:fadebounce; animation-name:fadebounce; -webkit-animation-duration:3s; -moz-animation-duration:3s; -ms-animation-duration:3s; -o-animation-duration:3s;
 animation-duration:3s; -webkit-animation-iteration-count:infinite; -moz-animation-iteration-count:infinite; -ms-animation-iteration-count:infinite; -o-animation-iteration-count:infinite;
 animation-iteration-count:infinite; }

@-moz-keyframes fadebounce {
0% { -moz-transform:translateY(0); transform:translateY(0); opacity:1; }
50% { -moz-transform:translateY(25px); transform:translateY(25px); opacity:1; }
100% { -moz-transform:translateY(0); transform:translateY(0); opacity:1; }
}
@-webkit-keyframes fadebounce {
0% { -webkit-transform:translateY(0); transform:translateY(0); opacity:1; }
50% { -webkit-transform:translateY(25px); transform:translateY(25px); opacity:1; }
100% { -webkit-transform:translateY(0); transform:translateY(0); opacity:1; }
}
@-o-keyframes fadebounce {
0% { -o-transform:translateY(0); transform:translateY(0); opacity:1; }
50% {-o-transform:translateY(25px);transform:translateY(25px);opacity:1; }
100% {-o-transform:translateY(0);transform:translateY(0);opacity:1; }
}
@-ms-keyframes fadebounce {
0% { -ms-transform:translateY(0); transform:translateY(0); opacity:1; }
50% {-ms-transform:translateY(25px);transform:translateY(25px);opacity:1; }
100% {-ms-transform:translateY(0); transform:translateY(0); opacity:1; }
}
@keyframes fadebounce {
0% { transform:translateY(0); opacity:1; }
50% {transform:translateY(25px);opacity:1; }
100% {transform:translateY(0);opacity:1; }
}

@media screen and (max-width: 950px){
    .intro-bg { margin-left: 0; width: 100% }
}

@media (max-width: 600px){
    .intro-button a { font-size: 14px;}
    .designation span { line-height: 26px }
}