body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html{ -webkit-tap-highlight-color:rgba(0,0,0,0); }
body { font-family: 'Open Sans', sans-serif; font-weight: normal; font-style: normal; font-size: 14px; margin: 0px; color: #2f3742; }
a, button, input { outline: medium none !important; -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;}
a:focus, a:hover { outline: medium none !important; text-decoration: none; -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;  }
ol, ul { padding: 0px; margin: 0px; }
li { list-style: none !important; }
p { font-size: 14px; color: #9ea8b6; line-height: 24px; }
/*selection*/
*::-moz-selection { background: #000; color: #ffffff; text-shadow: none; }
::-moz-selection { background: #000; color: #ffffff; text-shadow: none; }
::selection { background: #000; color: #ffffff; text-shadow: none; }
h1, h2, h3, h4, h5, h6 { color: #2f3742; }
h1 { font-size: 50px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

.white-bg { background: #ffffff; }
.page-section { padding: 60px 0px; margin-left: 230px;}
/*section-title*/
.section-title { position: relative; display: block; margin-bottom: 80px;}
.section-title-name { position: relative; z-index: 9; }
.section-title-name h2 { font-size: 38px; color: #2f3742; font-weight: 600; margin-top: 4px; }
.section-title-name span {  background: #07cb79; display: inline-block; font-size: 16px; color: #ffffff; padding: 6px 20px; }
.title-name-gray { display: block; position: absolute; left: 160px; top: 0px; }
.title-name-gray strong { font-size: 100px; font-style: italic; font-weight: bold; color: rgba(247, 248, 249, 0.7); margin: 0px; line-height: 68px; }

@media screen and (max-width: 950px){
    .page-section{margin-left: 0}
}

@media screen and (max-width: 700px) {
    .title-name-gray { display: none; }
}

@media screen and (max-width: 600px){
    .section-title{ margin-top: 60px; }
}